.stats-section {
  width: 100%;
}

.map-list-section {
  display: flex;
  height: 400px;
  /* overflow: hidden; */
}

.map-panel,
.table-panel {
  width: 100%;
  height: 400px;
  padding: 5px;
}

.stats-section {
  min-height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.table-section {
  margin-top: 20px;
}
