.stats-section {
  width: 100%;
}

.map-list-section {
  display: flex;
}

.map-panel,
.table-panel {
  width: 100%;
  height: 500px;
  padding: 5px;
  min-width: 500px;
}

.stats-section {
  min-height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.table-section {
  margin-top: 20px;
}

@media only screen and (max-width: 1590px) {
  .map-list-section {
    flex-direction: column;
  }
}
