.dive-view {
  padding: 1em;
  margin-top: 6em;
}
.display-group {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 150px;
}

.display-group .left-group,
.display-group .right-group {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dive-view .map-container,
.dive-view .leaflet-container {
  height: 200px;
  width: 350px;
}
