* {
  box-sizing: border-box;
}

body {
  min-height: 105vh;
  margin: 0;
  padding: 0;
  background: rgb(250, 250, 249);
}

main {
  width: 90%;
  max-width: 1600px;
  min-width: 300px;
  margin: 4.5rem auto;
}

main section {
  width: 100%;
  min-height: 600px;
}
main section.charts-section {
  width: 98%;
  margin: 0 auto;
}

.loading-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-alert {
  display: none;
  opacity: 0;
}

.my-alert.open {
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
}

main section div,
.leaflet-container {
  z-index: 1;
}

footer {
  height: 180px;
  width: 100vw;
  background: rgb(4, 4, 139);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
